.row{
    display: flex;
    gap: 10px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .action{
    padding: 0px 200px 40px;
    text-align: center;
  }